body {
  margin: 0;
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: sans-serif;
  font-size: large;
}

.container {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
}

.game {
  flex: 60%;
}

.controls {
  display: flex;
  flex: 40%;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-item {
  width: 3vw;
  height: 3vw;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-border {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.item-border-top {
  border-top: 3px solid black;
}

.item-border-left {
  border-left: 3px solid black;
}

.item-border-right {
  border-right: 3px solid black;
}

.item-border-bottom {
  border-bottom: 3px solid black;
}

.nums-button {
  margin: 0.5em;
  width: 7.5vw;
  height: 7.5vh;
  border-radius: 10px;
  border: 3px solid gray;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

.nums-button:hover {
  background-color: lightgray;
}

.nums-button:active {
  background-color: darkgray;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  height: 5vh;
  min-height: 50px;
  background-color: black;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.corner-tl {
  width: 50%;
}

.corner-tr {
  margin-left: auto;
}

.corner-br {
  margin-left: auto;
  margin-top: auto;
}

.corner-bl {
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  margin-right: 2vw;
  margin-top: auto;
  color: grey;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
  }

  .nums-button {
    margin: 0.5em;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid gray;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
  }

  .footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 5vh;
    color: grey;
    font-style: italic;
  }

  .controls {
    margin-top: 5vh;
    display: flex;
    flex: 40%;
    justify-content: center;
  }
}